# Docker Compose project
COMPOSE_PROJECT_NAME=bookstore-local

# Redis
REDIS_VOLUME=redis_volume_001
REDIS_PORT=12000
REDIS_PASSWORD=redis

# BookStore service database
BOOKSTORE_DB_VOLUME=bookstore_db_volume_001
BOOKSTORE_DB_IMAGE=postgres:18-alpine
BOOKSTORE_DB_NAME=bookstore
BOOKSTORE_DB_USER=bookstore
BOOKSTORE_DB_PASSWORD=bookstore
BOOKSTORE_DB_PORT=5433